<layout name="Index/header_footer" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="type_id" value="<?php echo $data['type_id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">主题名称：</td>
                <td>
                    <input  type="text" name="type_name" value="<?php echo $data['type_name']; ?>" />
                </td>
            </tr>
             <tr>
                <td class="label">排序（越小排越前）：</td>
                <td>
                    <input  type="text" name="listorder" value="<?php echo $data['listorder']; ?>" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>